// $column-break-one: 5;

// @mixin col-width($item-order) {
//     order: $item-order;
//     @if $item-order <= $column-break-one {
//         width:var(--col-one-width);
//     } @else {
//         width:var(--col-two-width);
//     }
// }

.dates-display {
    display: grid;
    grid-template-columns: 3fr 4fr;
    column-gap: 2rem;
    justify-content: center;

    > * {
        width:94%;
    }

    a {
        color: #aaf;
    }

    >strong, &>span {
      font-weight: normal;
      margin-top:2rem;
      position: relative;
    }

    >strong, div {
        color:#eee;
    }

    &>span~span::before {
        content: "";
        width:160%;
        position: absolute;
        height:0.125rem;
        background: linear-gradient(to right, #337, #99b);
        border-radius:50%;
        top:-1.5rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#eee;
    padding:1rem 0;
    font: 1rem "Nunito-Sans", sans-serif;

    --page-width: 1520px;
    --col-one-width: 30%;
    --col-two-width:70%;
}

header, main, footer {
    max-width: var(--page-width);
    margin: 0 auto 2rem;
    box-shadow: 0.5rem 0.5rem 2rem #555;
    border: 1px solid #99b;
}

footer {
    background-color: #fff;
    padding: 0.25rem 1rem;
}

img#profile-photo {
    width: 20%;
    border: 1px solid #000;
    box-shadow: 0.25rem 0.25rem 0.75rem #777;
    margin: 2rem 0 0 2rem;
    // align-self: center;
}

main {
    height: 210vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, white 60%, transparent 60%),linear-gradient(to right, transparent 60%, rgba(0,0,0,0.4)) ,linear-gradient(to bottom, #358, #025);
    align-content: start;

    section {
        margin-top: 2rem;
    }

    >section:not(#break1 ~ section) {
        padding:0 2rem;
    }
}

h1 {
    display: grid;
    grid-template-columns: 3fr 4fr;
    order:6;
    font:200 calc(1.5rem + 4vw) "Dosis", sans-serif;
    line-height: calc(1.5rem + 4vw);
    column-gap: 2rem;
    margin-top: 2rem;

    #first-name {
        justify-self: end;
        animation: show 2s;
        overflow:hidden;
    }

    #last-name {
        color: #eee;
        animation: show 2s;
        overflow:hidden;
        direction: rtl;
        justify-self: start;
    }
}

a {
    text-decoration: none;
    position: relative;
    color:#77b;
    font:500 1.1rem "Chakra Petch", sans-serif;
    background:linear-gradient(to bottom, #0c7, #39f);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover {
    background:linear-gradient(to bottom, #0c7 , #cc0);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main > section > ul {
    list-style: none;
}

#contact-info {
    order:1;
}

#languages {
    order:2;
}

#front-end {
    order:3;
}

#soft-skills {
    order:4;
}

#hobbies {
    order:5;
}

#work-experience {
    order: 7;

    div {
        grid-column: 2;
    }

    &>strong>b {
        display: block;
    }
}


#education {
    order:8;
}

#projects {
    order:9;
}

#courses {
    order:10;
}


h3 {
    margin-bottom: 1rem;
    grid-column: span 2;
    display: flex;
    text-transform: uppercase;
    font: italic 600 1.2rem Dosis, sans-serif;
    // background: linear-gradient(to right, rgba(40, 60, 140, 0.8) 50%, rgba(255,255,255,0.7));
    color: #eee;
    position: relative;
    // clip-path: polygon(0 0, 100% 0, 100% 60%, 80% 60%, 78% 100%, 0 100%);

    &::before {
        content:"";
        bottom: -0.25rem;
        left: -0.25rem;
        position: absolute;
        border:1px solid #333;
        border-width: 0 0 1px 1px;
        width:70%;
        height:70%;
    }

    &::after {
        content:"";
        flex-grow: 1;
        border: 1px solid black;
        border-width: 1px 0;
        background-size: calc((var(--page-width) * 0.3) - 4rem) 100%;
        background-position: right;
        clip-path: polygon(0% 100%, 1.2rem 0%, 100% 0%, 100% 100%);
        background-image: linear-gradient(to left, rgba(255,255,255,0.7), rgba(40, 60, 140, 0.8) 50%);
    }

    &>span {
        border: 1px solid black;
        border-width: 1px 0;
        padding:0 1.75rem 0 .4rem;
        background-size: calc((var(--page-width) * 0.3) - 4rem) 100%;
        background-position: left;
        clip-path: polygon(0% 100%, 0 0, 100% 0, calc(100% - 1.2rem) 100%);
        background-image: linear-gradient(to right, rgba(40, 60, 140, 0.8) 50%,  rgba(255,255,255,0.7));
        white-space:nowrap;
    }
}

h1 ~ section > h3 {
    &::after {
        background-size: calc((var(--page-width) * 0.7) - 4rem) 100%;
        background-image: linear-gradient(to left, rgba(0,0,0,0.7), rgba(40, 60, 140, 0.8) 50%);
    }

    &>span {
        background-size: calc((var(--page-width) * 0.7) - 4rem) 100%;
        background-image: linear-gradient(to right, rgba(40, 60, 140, 0.8) 50%,  rgba(0,0,0,0.7));
    }
    // background: linear-gradient(to right, rgba(40, 60, 140, 0.8) 50%, rgba(0,0,0,0.7));
}

#education > strong {
    font-weight: normal;
}

#break1 {
    flex-basis:100%;
    width:0;
    height:0;
    order: 5;

    ~ * {
        width:var(--col-two-width);
    }
}

main > * {
    width:var(--col-one-width);
}

@keyframes show {
    0% {
        max-width:0
    }

    100% {
        max-width:100%;
    }
}

@media screen and (max-width: 1520px) {
    body {
        --page-width: 100vw;
    }
}

@media screen and (max-width: 805px) {
    main {
        height:230vh;
    }
}

@media screen and (max-width: 660px) {
    body {
        --col-one-width:100%;
        --col-two-width:100%;
    }

    main {
        height:305vh;
        display: grid;
        grid-template-columns:1fr 2fr;
        background-image: linear-gradient(to right, white 40%, transparent 40%),linear-gradient(to right, transparent 60%, rgba(0,0,0,0.4)) ,linear-gradient(to bottom, #358, #025);
    
        > *:nth-of-type(odd):not(#break1 ~ *) {
            color:#eee;
        }
    }

    main> img#profile-photo {
        width:75%;
        order:1;
    }

    h1 {
        order:0;
        margin-bottom: 2rem;
    }
    
    #break1 {
        display: none;
    }

    #break1 ~ * {
        grid-column: span 2;
    }
}