$column-break-one: 5;

@mixin col-width($item-order) {
    order: $item-order;
    @if $item-order <= $column-break-one {
        width:30%;
    } @else {
        width:60%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 1520px;
    margin: 1rem auto;
    height: 300vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background:linear-gradient(to right, #999 0% 30%, white 30%);
}

main > section > ul {
    list-style: none;
}

#contact-info {
    @include col-width(1);
    white-space: pre-line;
}

#languages {
    @include col-width(2);
}

#front-end {
    @include col-width(3);
}

#soft-skills {
    @include col-width(4);
}

#hobbies {
    @include col-width(5);
}

h1 {
    text-align: center;
    color:#395;
    @include col-width(6);
}

#work-experience {
    @include col-width(7);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#work-experience > strong, #work-experience > span {
    font-weight: normal;
    margin-top:2rem;
}

#work-experience > strong > b {
    display:block;
}

#work-experience > div {
    grid-column: 2;
}

#education {
    @include col-width(8);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem 0;
}

h3 {
    grid-column: span 2;
}

#education > strong {
    font-weight: normal;
}

#break1 {
    flex-basis:100%;
    width:0;
    height:0;
    order: $column-break-one;
}
